<!-- center -->


    <!--<div class="catCont"><a href="" class="category"><img src="{{user.image}}" alt=""><span><a href="">{{user.title}}</a></span></a></div>-->
<div class="catCont">
  <a href="" class="category">
    <div class="imgContainer">
      <img src="{{user.image}}" alt="">
    </div>
    <!--<span>-->
								<!--<a href="">{{user.title}}</a>-->
    <!--</span>-->
    <div class="span">

								<!--<a href="">{{user.title}}</a>-->
                <p>{{user.title}}</p>

    </div>
  </a>
</div>
    <!--<p>Center 229))</p>-->

<!-- center -->
