<!-- left column -->
<div id="left_side">
  <div class="vertical-menu">
    <ul>
      <li>
        <a href="">Feed
          <img src="assets/img/Feed2.png" alt="">
        </a>
      </li>
      <li>
        <a href="">Ask a Colleague<img src="assets/img/Ask2.png" alt="">
        </a>
      </li>
      <li>
        <a href="">Companies<img src="assets/img/Companies2.png" alt="">
        </a>
      </li>
      <li>
        <a href="">Service Directory<img src="assets/img/Services2.png" alt="">
        </a>
      </li>

    </ul>
  </div>
  <div class="advertisement">

    <div class="adText">
      <p>Advertisement</p>
    </div>

    <div class="adImg">
      <img src="assets/img/Advertisement.png" alt="">
    </div>

    <div class="adBy">
      <p>Ads By <span>Denteez.com</span>
      </p>
    </div>

  </div>
  <div class="featuredCont">
    <div class="featured">
      <p>Featured Companies</p>
      <a href="">See All</a>
    </div>

    <div class="companyCont">
      <div class="companyT">

        <p>Company Name
          <img src="assets/img/ImagePlaceholder.png" alt="">
          <span class="info">Manufacturer </span> <br>
          <span class="info">City, Country</span> <br>
          <span><a href="">Follow Now</a></span>
        </p>

      </div>

      <div class="companyT">

        <p>Company Name
          <img src="assets/img/ImagePlaceholder.png" alt="">
          <span class="info">Service Provider</span><br>
          <span class="info">City, Country</span> <br>
          <span><a href="">Follow Now</a></span>
        </p>

      </div>

      <div class="companyT">

        <p>Company Name
          <img src="assets/img/ImagePlaceholder.png" alt="">
          <span class="info">Supplier</span><br>
          <span class="info">City, Country</span> <br>
          <span><a href="">Follow Now</a></span>
        </p>

      </div>
    </div>
  </div>
  <div class="dodInfo">
    <div class="who">
      <p>Denteez Copyright 2015</p>
    </div>

    <div class="privacy">
      <span><a href="">Terms of use</a></span>
      <span><a href="">Privacy Police</a></span>
    </div>

  </div>
</div>

<!-- end of left column -->

<!---->
  <!--<p>leftssaf</p>-->
<!---->
