//header{
//  max-width:1440px;
//  min-width: 950px;
//  margin:0 auto;
//  background-color: #bebebe;
//}
$marginS: 10px;
$backColor: #d2d5db;
$HColor: #87b448;
$bColor: #78b448;
$SearchFieldColor: #73993d;
$minWidth: 970px;
$maxWidth: 1440px;
$Separator: 1.4px;
header {
  max-width:1440px;
  min-width: 950px;
  margin:0 auto;
  height:68px;
  background-color: $HColor;
  //background-color: #bebebe;
  .logoDiv {
    background-image: url("img/Logo.png");
    position: absolute;
    left: 17px;
    top: 11px;
    width: 130px;
    height: 40px;
    z-index: 566;
  }

  h1{
    margin: 0;
    text-align:center;
  }
}
.navHeader {
  width:100%;
  position: relative;
  float: none;
}
.searhc-container{
  //width:100%;
  padding-left: 178px;
  margin-top: 0;
  width: 440px;
  form {
    input{
      font-size: 15px;
      font-style: normal;
    }
  }

  .searchField{
    background-image: url("img/Search.png");
    background-color:$SearchFieldColor;
    background-position: 10px;
    background-repeat: no-repeat;

    color: white;
    border-radius: 3px;
    border: none;
    height:34px;
    width:377px;
    margin: 17px 0 0 0;
    padding:0px 20px 0 38px;
  }
}
.icons{
  margin: -29px 0 0 836px;
  width: 100px;
}
.contIcons{
  width: 100px;
  a{
    margin: 0 18px 0 -5px;
  }
}
.profile{
  margin: -47px 0px 0px 94px;
  width:224px;
  p{
    margin: 23px 0 -27px 42px;
    color: white;
    cursor: pointer;
    font-family: Myriad Pro, sans-serif;
    font-size: 16px;
  }

}
