<header>
  <div class="navHeader">
    <div class="logoDiv">
      <img src="Logo.png" alt="">
    </div>
    <div class="searhc-container">
      <form action="">
        <input type="text" placeholder="Searhc.." name="search" class="searchField">
        <!-- <button type="submit">

                  </button> -->
      </form>
    </div>
  </div>
  <div class="icons">
    <div class="contIcons">

      <a href=""><img src="assets/img/Chat.png"></a>
      <a href=""><img src="assets/img/Notifications.png"></a>
    </div>

    <div class="profile">
      <p>Maximillian Beekeeper</p>
      <img src="assets/img/Image.png" alt="">
    </div>
  </div>

</header>
