<!-- right column -->

<div id="right_side">
  <div class="youMayKnow">
				<span>
					<p>People you may know</p>
				</span>
    <span>
					<a href="">See All</a>
				</span>
  </div>

  <div class="peopleContainer">

    <div class="userContainer">
      <p class="thisName">Dennis Adams</p>



      <div class="user">
        <p>
          <img src="assets/img/ImageUser1.png" alt="">
          <span class="job">Job</span> <br>
          <span class="geo">City,Country</span> <br>
          <span><a href="" class="addfriend">Add a Friend</a></span>
        </p>
      </div>

      <p class="thisName">Mary Carpenter</p>
      <div class="user">
        <p>
          <img src="assets/img/ImageUser2.png" alt="">
          <span>Job</span> <br>
          <span>City,Country</span> <br>
          <span><a href="" class="addfriend">Add a Friend</a></span>
        </p>
      </div>

      <p class="thisName">Danielle Salazar</p>
      <div class="user">
        <p>
          <img src="assets/img/ImageUser3.png" alt="">
          <span>Job</span> <br>
          <span>City,Country</span> <br>
          <span><a href="" class="addfriend">Add a Friend</a></span>
        </p>
      </div>


    </div>

  </div>
</div>

<!-- end of right column -->

<!---->
  <!--<p>Right</p>-->
<!---->
